<div class="row">
  <form class="col s12 m7" novalidate
        [formGroup]="form" (ngSubmit)="submit()">
    <div class="card">
      <div class="card-content grey-text text-darken-4">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input id="name" formControlName="name" class="validate"
                   [ngClass]="{'invalid': isInvalid(nameField)}">
            <label class="active" for="name">Name</label>
          </div>
          <div class="errors red-text">
              <div *ngIf="nameField.touched && nameField.errors?.required">This field is required.</div>
              <div *ngIf="nameField.touched && nameField.errors?.minlength">
                  Minimum length for this field is {{ nameField.errors.minlength.requiredLength }},
                  current length: {{ nameField.errors.minlength.actualLength }}
              </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i>
            <input id="email" formControlName="email" class="validate"
                   checkEmailAvailability
                   [ngClass]="{'invalid': isInvalid(emailField)}">
            <label class="active" for="email">Email</label>
          </div>
          <div class="errors red-text">
            <div *ngIf="emailField.touched && emailField.errors?.validateEmail">Invalid email address.</div>
            <div *ngIf="emailField.touched && emailField.errors?.checkEmailAvailability">
                Email address already in use.
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i>
            <input id="phone" formControlName="phone" class="validate">
            <label class="active" for="phone">Phone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">cake</i>
            <input id="birthday" type="date" formControlName="birthday" class="validate">
            <label class="active" for="birthday">Birthday</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">public</i>
            <input id="website" formControlName="website" class="validate">
            <label class="active" for="website">Website</label>
          </div>
        </div>
        <fieldset formGroupName="address">
          <legend><i class="material-icons prefix">location_city</i> Address</legend>

          <div class="row">
            <div class="input-field col s12">
              <input id="street" type="text" formControlName="street" class="validate">
              <label class="active" for="street">Street</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="zip" type="text" formControlName="zip" class="validate">
              <label class="active" for="zip">Zipcode</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="city" formControlName="city" type="text" class="validate">
              <label class="active" for="city">City</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <label class="input-select-label" for="country">Country</label>
              <select id="country" formControlName="country">
                <option *ngFor="let country of countries"
                        [value]="country.name">
                  {{ country.name }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="card-action">
        <a class="btn" (click)="cancel.emit()">Cancel</a>
        <button type="submit" class="btn">
            Save
        </button>
      </div>
    </div>
  </form>
</div>
