<nav class="teal lighten-2">
  <div class="nav-wrapper">
    <form>
      <div class="input-field">
        <input id="search" type="search" required #searchInput
               (input)="search.emit($event.target.value)">
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons"
           (click)="searchInput.value = ''; search.emit('');">close</i>
      </div>
    </form>
  </div>
</nav>
<ul class="collection">
  <li class="collection-item avatar"
      *ngFor="let contact of contacts | async"
      (click)="view.emit(contact)">
    <a>
      <img [src]="contact.image" alt="" class="circle">
      <span class="title">{{ contact.name }}</span>
    </a>
  </li>
</ul>
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large" routerLink="/contacts/new">
    <i class="large material-icons">add</i>
  </a>
</div>
