<div class="row search">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">search</i>
        <input type="text" id="search"
               (input)="term$.next($event.target.value)">
        <label class="active" for="search">Search</label>
      </div>
    </div>
  </form>
</div>
<ul class="collection">
  <li class="collection-item avatar"
      *ngFor="let contact of contacts | async">
    <a [routerLink]="['/contacts', contact.id]">
      <img [src]="contact.image" alt="" class="circle">
      <span class="title">{{ contact.name }}</span>
    </a>
  </li>
</ul>
