<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Angular 2 Master Class Demo App</span>
        <p class="flow-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan, enim vitae bibendum finibus, eros justo sodales nisi, sit amet dictum nulla dui sed ligula. Mauris libero risus, ultrices id sollicitudin eu, pulvinar sed neque. Donec vel venenatis enim. Cras fringilla leo massa. Sed rhoncus felis ut urna dignissim maximus. Praesent sit amet nisl est. Fusce semper diam velit, at maximus lorem cursus a. Maecenas placerat elit lacus, a sodales erat porttitor et. Proin maximus aliquam volutpat. Donec sed felis justo.</p>
      </div>
      <div class="card-action">
        <a routerLink="/">Go Back</a>
      </div>
    </div>
  </div>
</div>
